.about {
    background: url('https://media.istockphoto.com/id/1163589059/photo/about-us.jpg?s=612x612&w=0&k=20&c=xiAumkYaKpQc3xepslDpn-lFhYPae6ivX_rRkgSXJgs=');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.about h1{
    color:var(--clr2bg)
}

.about p{
    width:50%;
    color:var(--clr2bg)
}