.home{
    height: 80vh;
    background: url('https://t4.ftcdn.net/jpg/02/46/47/65/360_F_246476500_THdLGMPgujKXubAbRcWF6IQIcmymLjhf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}   