:root {
  --clr1: rgb(91, 96, 107);
  --clr2: rgb(99, 103, 120);

  --clr1bg: rgb(141, 155, 179);
  --clr1bg-light: rgb(200, 205, 221);
  --clr2bg: rgb(206, 217, 233);
  --clr2bg-light: rgb(185, 212, 247);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 